/*   Blue Color: #06ADFE   */
/* --------------------------*/


.landing-main-section{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ---------------------------------------*/
/*  Services  */
/* ---------------------------------------*/

.section-services .long-copy {
  margin-bottom: 30px;
}



/* ---------------------------------------*/
/*   Pictures of Mountains and People   */
/* ---------------------------------------*/

.section-mountains {
  padding: 0;
}

.mountains-showcase {
  list-style: none;
  width: 100%;
}

.mountains-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.mountains-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.mountains-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.mountains-photo img:hover {
  transform: scale(1.04);
}